# Dependencies
node_modules/
.venv/
venv/
ENV/
env/

# Build & Output
dist/
build/
*.egg-info/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env
*.env

# IDE & System Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
